# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath
.history

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz

node_modules/
runtime/
/dev/
.tags
.tags1
client/plugin-module.js
/iconfont
server/middleware/test.axios.js
privateConfigs
privateConfigs.js
axiosOptions
axiosOptions_body
dist-exec
static/wiki
.vs
server/uploads/db*
server/uploads/upload_*
server/uploads/resourceAssets
server/uploads/RESOURCE_ASSETS
yapi.installed
static/dist
server/app.js
push.bat
static/common/mo
records.js
server/records.course.js
pnpm-lock.yaml
package-lock.json
pull.bat
b.js
a.js
win12