# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath
.history

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz

node_modules/
runtime/
/prd/
/dev/
.tags
.tags1
tsconfig.json
client/plugin-module.js
.vscode
/iconfont
server/middleware/test.axios.js
static/prd

privateConfigs.js
privateConfigs/client.js
privateConfigs/s1.js
privateConfigs/s2.js
axiosOptions
axiosOptions_body
